body{
    font-family: 'Quicksand', sans-serif;
    background:rgba(226, 226, 228, 0.301); 
}

nav{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.logo_img{
    margin-top:5%;
    margin-left: 10%;
}
.card{
    border-radius:30px;
    box-shadow:1.25rem 1.375rem 30px 5px rgba(0, 0, 0, 0.250);
}

.quote{
    margin-top:20px !important;
}
.bq1{
    font-size: 17px;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;*/
    padding:10px 10px 10px 10px;
    /*background: linear-gradient(to right, hsla(191, 86%, 49%, 0.5), rgba(196, 113, 237, 0.5), rgba(246, 79, 90, 0.5));*/
    background: rgba(72, 173, 255, 0.2);
    border-left-color: #12c2e9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bq2{
    font-size: 17px;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;*/
    padding:10px 10px 10px 10px;
    /*background: linear-gradient(to right, hsla(191, 86%, 49%, 0.5), rgba(196, 113, 237, 0.5), rgba(246, 79, 90, 0.5));*/
    background: rgba(196, 113, 237, 0.2);
    border-left-color:#c471ed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bq3{
    font-size: 17px;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;*/
    padding:10px 10px 10px 10px;
    /*background: linear-gradient(to right, hsla(191, 86%, 49%, 0.5), rgba(196, 113, 237, 0.5), rgba(246, 79, 90, 0.5));*/
    background: rgba(246, 79, 90, 0.2);
    border-left-color:#f64f59;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main_ctn{
    width: 75%;
}
.profile_img{
    border-radius: 50px;
    display: inline !important;
    margin-top: 5px;
}

.ne_ctn{
    font-size: 13px;
    font-weight: bold;
}
.abt_people_org{
    margin-top:10px;
}



.top_heading{
    font-family: Cinzel Decorative;
}
.footer_link li a{
    color: white;
    font-family: Alegreya Sans;
}
.footer_start{
    margin-top: 100px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.footer_con_head{
    font-weight: 600;
    font-family: Cinzel Decorative;
    color:rgb(255, 255, 255);
}
.footer_content{
    color:rgb(255, 255, 255);letter-spacing: 1px;font-family: Alegreya Sans;
}
.footer_link_head{
    font-family: Cinzel Decorative;
    color:rgb(255, 255, 255);
    font-weight: 600;
}
.footer-copyright{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.cr_text{
    font-family: Alegreya Sans;
    color: rgb(255, 255, 255);
}
.more_link{
    font-family: Alegreya Sans;
    color: rgb(255, 255, 255);
}