.card-image img {
            transition: 2s;
        }
        body{
            font-family:Cinzel Decorative;
             background-color: rgb(255, 255, 255);
        }

        .card-image img:hover {
            transform: scale(1.03);
        }
        nav{
            border:none;
            background:linear-gradient(to right,rgb(1, 1, 20),rgb(10, 77, 77),rgb(9, 218, 200));
        }
        .slide_one_title{
            background: linear-gradient(to right,rgb(1, 1, 20),rgb(19, 133, 133));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            font-weight: 600;
            font-size:65px !important;
            padding-top:0px !important;
            margin-left: 20px !important;
            margin-right:0px !important;
            margin-top: 0px;
            margin-bottom: 0px; 
        }
        .slide_two_title{
            /*background: linear-gradient(to right,rgb(1, 1, 20),rgb(19, 133, 133));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;*/
            position: absolute;
            color:rgb(255, 255, 255);
            font-weight: 600;
            font-size:65px !important;
            background:transparent !important;
            padding-top:0px !important;
            margin-left: 20px !important;
            margin-right:0px !important;
            margin-top: 350px;
            margin-bottom: 0px; 
        }
        .slide_three_title{
            background: linear-gradient(to right,rgb(1, 1, 20),rgb(19, 133, 133));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            font-weight: 600;
            font-size:65px !important;
            padding-top:0px !important;
            margin-left: 20px !important;
            margin-right:0px !important;
            margin-top: 0px;
            margin-bottom: 0px; 
        }
        .des_slide_one{
            color:rgb(1, 1, 20);
            letter-spacing: 1px;
            position: absolute;
            font-weight: 600px;
            font-size:20px;
            background:transparent !important;
            padding-top:0px !important;
            margin-left: 30px !important;
            margin-right:0px !important;
            margin-top: 80px;
            margin-bottom: 0px; 
        }
        .des_slide_two{
            position: absolute;
            color:rgb(255, 255, 255);
            font-weight: 600px;
            font-size:20px;
            background:transparent !important;
            padding-top:0px !important;
            margin-left: 30px !important;
            margin-right:0px !important;
            margin-top: 430px;
            margin-bottom: 0px; 
        }
        .des_slide_three{
            position: absolute;
            font-weight: 600px;
            font-size:20px;
            background:transparent !important;
            padding-top:0px !important;
            margin-left: 30px !important;
            margin-right:0px !important;
            margin-top: 80px;
            margin-bottom: 0px; 
        }
        /*#mobile-nav{
            background:linear-gradient(rgb(1, 1, 20),rgb(10, 77, 77),rgb(9, 218, 200));
        }
        #snl{
            color:white;
        }
        .active{
            background: rgba(172, 128, 16, 0.541) !important;
        }*/
        #snl{
            font-weight:600;
        }

        #all_abt_cre{
            display:block;
            color:rgb(187, 164, 34);
            font-size: 20px;
            font-weight:550;
        }
        #golden_line{
            height:90px;
            border-right:1px solid rgb(223, 185, 71);
            margin-top:20px;
        }
            
        #main_card_1{
            padding:0px;
            border:none;
            border-radius: 5px;
            width: 95%;
            box-shadow: none !important;
        }
        #card_img_1_ctn{
            border:none !important;
            overflow: hidden !important;
            border-radius: 5px;
            box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);
        }
        #event_title_1{
            font-size:25px;
            color: rgb(1, 1, 20);
            display: block;
            font-weight: 600;
            background-color: transparent !important;
        }
        #event_add_1{
            display:block;font-family: Allerta;
            font-size:15px;
            color:rgb(1, 1, 20);
        }
        #event_time_1{
            font-size:15px;
            display: block;letter-spacing: 1px;
            color: rgb(190, 166, 28);
            margin-top: 5px;
            font-family: Allerta;
        }
        #main_card_2{
            padding:0px;
            border:none;
            border-radius: 5px;
            width: 95%;box-shadow: none !important;
            float: right;
        }
        #card_img_2_ctn{
            border:none !important;
            overflow: hidden !important;
            border-radius: 5px;
            box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);
        }
        #event_title_2{
            font-size:25px;color: rgb(1, 1, 20);display: block;font-weight: 600;background-color: transparent !important;
        }
        #event_add_2{
            display:block;font-family: Allerta;font-size:15px;color:rgb(1, 1, 20);
        }
        #event_time_2{
            font-size:15px;display: block;
            letter-spacing: 1px;
            color: rgb(190, 166, 28);margin-top: 5px;font-family: Allerta;
        }
        #main_card_3,#main_card_5{
            padding:0px;border:none;border-radius: 5px;width: 95%;box-shadow: none !important;
        }
        #event_title_3,#event_title_5{
            font-size:25px;color: rgb(1, 1, 20);display: block;
            font-weight: 600;background-color: transparent !important;
        }
        #event_add_3,#event_add_5{
            display:block;font-family: Allerta;font-size:15px;color:rgb(1, 1, 20);
        }
        #event_time_3,#event_time_5{
            font-size:15px;display: block;letter-spacing: 1px;
            color: rgb(190, 166, 28);margin-top: 5px;font-family: Allerta;
        }
        #card_img_3_ctn,#card_img_5_ctn{
            border:none !important;
            overflow: hidden !important;
            border-radius: 5px;
            box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);
        }
        #main_card_4{
            padding:0px;
            border:none;
            border-radius: 5px;
            width: 95%;
            box-shadow: none !important;float: right;
        }
        #card_img_4_ctn{
            border:none !important;
            overflow: hidden !important;
            border-radius: 5px;box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);
        }
        #event_title_4{
            font-size:25px;color: rgb(1, 1, 20);
            display: block;font-weight: 600;
            background-color: transparent !important;
        }
        #event_add_4{
            display:block;font-family: Allerta;font-size:15px;color:rgb(1, 1, 20);
        }
        #event_time_4{
            font-size:15px;display: block;
            letter-spacing: 1px;color: rgb(190, 166, 28);
            margin-top: 5px;font-family: Allerta;
        }
        #main_card_6{
            padding:0px;border:none;
            border-radius: 5px;width: 95%;
            box-shadow: none !important;float: right;
        }
        #card_img_6_ctn{
            border:none !important;
            overflow: hidden !important;
            border-radius: 5px;
            box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);
        }
        #event_title_6{
            font-size:25px;color: rgb(1, 1, 20);
            display: block;
            font-weight: 600;background-color: transparent !important;
        }
        #event_add_6{
            display:block;
            font-family: Allerta;
            font-size:15px;color:rgb(1, 1, 20);
        }
        #event_time_6{
            font-size:15px;display: block;
            letter-spacing: 1px;
            color: rgb(190, 166, 28);
            margin-top: 5px;
            font-family: Allerta;
        }


        #main_card_7,#main_card_8{
            padding:0px;border:none;
            border-radius: 5px;width: 95%;
            box-shadow: none !important;float: right;
        }
        #card_img_7_ctn,#card_img_8_ctn{
            border:none !important;
            overflow: hidden !important;
            border-radius: 5px;
            box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);
        }
        #event_title_7,#event_title_8{
            font-size:25px;color: rgb(1, 1, 20);
            display: block;
            font-weight: 600;background-color: transparent !important;
        }
        #event_add_7,#event_add_8{
            display:block;
            font-family: Allerta;
            font-size:15px;color:rgb(1, 1, 20);
        }
        #event_time_7,#event_time_8{
            font-size:15px;display: block;
            letter-spacing: 1px;
            color: rgb(190, 166, 28);
            margin-top: 5px;
            font-family: Allerta;
        }
        #gold_heading{
            display:block;
            color:rgb(187, 164, 34);
            font-size: 20px;font-weight:550;
        }
        #special_event_ctn{
            border:16px solid #eedab0;
            padding-top:48px;padding-bottom: 48px;
            margin-top:50px;margin-bottom:50px;
        }
        #special_event_img{
            box-shadow:1.25rem 1.375rem 15px 8px rgba(124, 107, 18, 0.530);
        }
        #special_par_1{
            letter-spacing:1px;font-family: Alegreya SC;font-weight:600;font-size:16px;
        }
        #special_par_2{
            letter-spacing:1px;font-family: Alegreya SC;font-weight:600;font-size:10px;
        }
        #special_header{
            font-family:Alegreya SC;color:rgb(223, 185, 71);
        }
        #special_link_ctn{
            display:block;color:rgb(223, 185, 71);font-family:Alegreya SC;font-size:16px;
        }
        #future_event_card_1_ctn,#future_event_card_2_ctn{
            padding:0px;border:none;
            border-radius: 5px;
            width: 95%;box-shadow: none !important;
        }
        #future_event_img_1_ctn,#future_event_img_2_ctn{
            border:none !important;overflow: hidden !important;
            border-radius: 5px;
            box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);
        }
        #future_event_title_1,#future_event_title_2{
            font-size:25px;color: rgb(1, 1, 20);display: block;
            font-weight: 600;
            background-color: transparent !important;
        }
        #future_event_add_1,#future_event_add_2{
            display:block;font-family: Allerta;font-size:15px;color:rgb(1, 1, 20);
        }
        #future_event_time_1,#future_event_time_2{
            font-size:15px;display: block;letter-spacing: 1px;
            color: rgb(190, 166, 28);margin-top: 5px;
            font-family: Allerta;

        }
        #modal_card{
            box-shadow: none;
            padding: 0px;
            border-radius:5px;
        }
        #modal_card_content{
            font-size: 16px;
            letter-spacing: 1px;
            text-align: justify;
        }
        /*::-webkit-scrollbar{
            width:0px !important;
            display: none !important;
        }*/
           
        .modal_par{
            font-size: 20px;
            letter-spacing: 1px;
        }
        .cen_btn{
            /*background:linear-gradient(to right,rgb(1, 1, 20)45%,rgb(10, 77, 77)85%,rgb(9, 218, 200)100%);*/
            color: rgb(201, 158, 29);
            background: linear-gradient(to right,rgb(1, 1, 20),rgb(10, 77, 77),rgb(11, 190, 176));
            border: none;
            box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);
            font-weight: 600;
            height: 50px;
            width: 150px;
            text-align: center;
            padding-top:8px;
            margin-bottom:50px;
            border-radius: 10px;
            transition: 0.5s;

        }
        .cen_btn:hover{
            transform: scale(0.98);
            background: rgb(1, 1, 20);
        }