{% extends 'layout.html' %}
{% load static %}
<!--Title-->
{% block title %}
 Rainbow | Home
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/rainbow.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}

<!--Styles if any-->
{% block style %}
{% endblock %}

<!--Blocks for making the specific part of nav bar Grey according to page-->
{% block home %}class="active"{% endblock %}
<!--Same but for responsive part of nav-->
{% block home1 %}class="active"{% endblock %}


{% block body %}
    
<div class="carousel carousel-slider center">
        <div class="carousel-item">
            <p class='hide-on-small-only slide_one_title' >
                Panel One
            </p>
            <p class=" hide-on-small-only  des_slide_one ">
                This is the description on first image
            </p>
            <a href="#">
                <img src="{% static 'images/rainbow7.jpg' %}" alt="" height="550px" width="100%">
            </a>
            
        </div>
        <!--carousel img_1-->
        <div class="carousel-item">
            <p class='hide-on-small-only slide_two_title' style="opacity: 1;margin-top:0px" >
                Panel Two
            </p>
            <p class='hide-on-small-only des_slide_three'>
                This is the description on first image
            </p>
            
            <a href="#">
                <img src="{% static 'images/rb7.jpg' %}" alt="" height="550px" width="100%">
            </a>
        </div>
        <!--carousel img-2-->
        <div class="carousel-item">
            <p class='hide-on-small-only slide_three_title'>
                Panel Three
            </p>
            <p class='hide-on-small-only des_slide_three'>
                This is the description on first image
            </p>
            <a href="#">
                <img src="{% static 'images/rainbow6.jpg' %}" alt="" height="550px" width="100%">
            </a>
        </div>
    </div>

    <!--bold main heading with golden sub-heading-->
    <div class="row">
        <div class="header" align='center'>
            <h1>Current Exibitions</h1>
            <span id="all_abt_cre">All about creations</span>
        </div>
        <div class="col s6 m6 l6" id="golden_line"></div>
    </div>


    <!--First img-->
    <div class="row">
        
        <div class="col m1 l1"></div>
        <div class="col s12 m12 l5">
            <div class="card modal-trigger" id="main_card_1" data-target="modal_1">
                <div class="card-image waves-effect waves-block waves-light" id="card_img_1_ctn">
                    <img src="{% static 'images/rainbow10.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                </div>
                <div class="card-content" align="center" style="background:transparent;border:none;">
                    <div class="card_title" style="text-align: left;">
                        <span id="event_title_1">Event-title</span>
                        <span  id = "event_add_1">
                            Maharashtra,India
                        </span>
                        <span id="event_time_1">
                            12 AUG 18 |
                            <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </div>
            </div>
            
            
            
            <!--Modal  (jo har img ko click karne ke bad khulta hai)-->
            <div class="modal modal-fixed-footer" id="modal_1">
                <div class="modal-content" style="font-family:Alegreya Sans;">
                    <h4>Modal header</h4>
                        <div class="card horizontal" id="modal_card" data-target="modal_3">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{% static 'images/rainbow10.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
                        
                            </div>
                            <div class="card-stacked">
                                <div class="card-content" id="modal_card_content">
                                    I am a very simple card. I am good at containing small bits of information.You can customize the behavior of each modal using these options. For example, you can call a custom function to run
                                    when a modal is dismissed. To do this, just place your function in the intialization code as shown below.
                                </div>
                                <div class="card_title" style="text-align: right;">
                                    <span id="event_add_1">
                                        Maharashtra,India
                                    </span>
                                    <span id="event_time_1">
                                        12 AUG 18 |
                                        <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                                    </span>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">view</a>
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">close</a>
                </div>
            </div>


            <!--Example req-->
            <!--<div class="card" style="padding:0px !important;border:none !important;border-radius: 5px;overflow: hidden !important;box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);width:95%;">
                <div class="card-image waves-effect waves-block waves-light" style="border:none !important;">
                    <img src="{% static 'images/rainbow10.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
                    <span class="card-title" style="font-size:35px;font-weight:600;">
                        Card Title
                    </span>
                </div>
                <div class="card-reveal" style="background:rgb(1, 1, 20);color:rgb(9, 218, 200);">
                    <span class="card-title">
                        Card Title
                        <i class="material-icons right">close</i>
                    </span>
                    <p>
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                </div>
            </div>-->
        </div>
        <!--second image-->
        <div class="col s12 m12 l5">
            <div class="card modal-trigger" data-target='modal_2' id="main_card_2">
                <div class="card-image waves-effect waves-block waves-light" id="card_img_2_ctn">
                    <img src="{% static 'images/rb8.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                </div>
                <div class="card-content" align="center" style="background:transparent;border:none;">
                    <div class="card_title" style="text-align: right;">
                        <span id="event_title_2">Event-title</span>
                        <span id="event_add_2">
                            Maharashtra,India
                        </span>
                        <span id="event_time_2">
                            12 AUG 18 |
                            <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </div>
            </div>
            
            
            
            <!--Modal-->
            <div class="modal modal-fixed-footer" id="modal_2">
                <div class="modal-content" style="font-family:Alegreya Sans;">
                    <h4>Modal header</h4>
                    <div class="card horizontal" id="modal_card" data-target="modal_3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/rb8.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content" id="modal_card_content">
                                I am a very simple card. I am good at containing small bits of information.You can customize the
                                behavior of each modal using these options. For example, you can call a custom function to run
                                when a modal is dismissed. To do this, just place your function in the intialization code as shown
                                below.
                            </div>
                            <div class="card_title" style="text-align: right;">
                                <span id="event_add_2">
                                    Maharashtra,India
                                </span>
                                <span id="event_time_2">
                                    12 AUG 18 |
                                    <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                                </span>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">view</a>
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m1 l1"></div>
        <!--Third image-->
        <div class="col s12 m12 l5">
            <div class="card modal-trigger" id="main_card_3" data-target="modal_3" >
                <div class="card-image waves-effect waves-block waves-light" id="card_img_3_ctn">
                    <img src="{% static 'images/rainbow13.jpeg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                </div>
                <div class="card-content" align="center" style="background:transparent;border:none;">
                    <div class="card_title" style="text-align: left;">
                        <span id="event_title_3">Event-title</span>
                        <span id="event_add_3">
                            Maharashtra,India
                        </span>
                        <span id="event_time_3">
                            12 AUG 18 |
                            <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </div>
            </div>
            


            <!--Modal-->
            <div class="modal modal-fixed-footer" id="modal_3">
                <div class="modal-content" style="font-family:Alegreya Sans;">
                    <h4>Modal header</h4>
                    <div class="card horizontal" id="modal_card" data-target="modal_3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/rainbow13.jpeg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content" id="modal_card_content">
                                I am a very simple card. I am good at containing small bits of information.You can customize the
                                behavior of each modal using these options. For example, you can call a custom function to run
                                when a modal is dismissed. To do this, just place your function in the intialization code as shown
                                below.
                            </div>
                            <div class="card_title" style="text-align: right;">
                                <span id="event_add_3">
                                    Maharashtra,India
                                </span>
                                <span id="event_time_3">
                                    12 AUG 18 |
                                    <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                                </span>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">view</a>
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">close</a>
                </div>
            </div>



            <!--Example-->
            <!--<div class="card"
                style="padding:0px;border:none;border-radius: 5px;box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);width: 95%;">
                <div class="card-image waves-effect waves-block waves-light"
                    style="border:none !important;overflow: hidden !important;border-radius: 5px;">
                    <img src="{% static 'images/rainbow13.jpeg" alt="" class="activator" style="border-radius:5px !important;">
                    <span class="card-title" style="font-size:35px;color: rgb(124, 11, 11);font-weight:600;">
                        Card Title
                    </span>
                </div>
                <div class="card-reveal" style="background:rgb(1, 1, 20);color:rgb(9, 218, 200);">
                    <span class="card-title ">
                        Card Title
                        <i class="material-icons right">close</i>
                    </span>
                    <p style="letter-spacing:1px;">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                </div>
            </div>-->
        </div>

        <!--forth image-->
        <div class="col s12 m12 l5">
            <div class="card modal-trigger" id="main_card_4" data-target='modal_4'>
                <div class="card-image waves-effect waves-block waves-light" id="card_img_4_ctn">
                    <img src="{% static 'images/rainbow23.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                </div>
                <div class="card-content" align="center" style="background:transparent;border:none;">
                    <div class="card_title" style="text-align: right;">
                        <span id="event_title_4">Event-title</span>
                        <span id="event_add_4">
                            Maharashtra,India
                        </span>
                        <span id="event_time_4">
                            12 AUG 18 |
                            <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </div>
            </div>



            <!--Modal-->
            <div class="modal modal-fixed-footer" id="modal_4">
                <div class="modal-content" style="font-family:Alegreya Sans;">
                    <h4>Modal header</h4>
                    <div class="card horizontal" id="modal_card" data-target="modal_3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/rainbow23.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content" id="modal_card_content">
                                I am a very simple card. I am good at containing small bits of information.You can customize the
                                behavior of each modal using these options. For example, you can call a custom function to run
                                when a modal is dismissed. To do this, just place your function in the intialization code as shown
                                below.
                            </div>
                            <div class="card_title" style="text-align: right;">
                                <span id="event_add_4">
                                    Maharashtra,India
                                </span>
                                <span id="event_time_4">
                                    12 AUG 18 |
                                    <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                                </span>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">view</a>
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">close</a>
                </div>
            </div>
        </div>
        <div class="m1 l1"></div>
        
    </div>
    <!--<div class="row">
        <div class="col s12 m1 l1"></div>
        <div class="col s12 m4 l4">
            <div class="card" style="padding:0px;border:none;border-radius: 5px;">
                <div class="card-image waves-effect waves-block waves-light"
                    style="border:none !important;overflow: hidden !important;border-radius: 5px;">
                    <img src="{% static 'images/rainbow22.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
                    <span class="card-title" style="font-size:35px;color: rgb(1, 19, 20);font-weight:600;">
                        Card Title
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title ">
                        Card Title
                        <i class="material-icons right">close</i>
                    </span>
                    <p>
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                </div>
            </div>
        </div>
        <div class="col m2 l2">
            
        </div>
        <div class="col s12 m4 l4">
            <div class="card" style="padding:0px;border:none;border-radius: 5px;">
                <div class="card-image waves-effect waves-block waves-light"
                    style="border:none !important;overflow: hidden !important;border-radius: 5px;">
                    <img src="{% static 'images/rainbow23.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
                    <span class="card-title" style="font-size:35px;font-weight:600;color: rgb(16, 20, 2);">
                        Card Title
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title">
                        Card Title
                        <i class="material-icons right">close</i>
                    </span>
                    <p>
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m1 l1"></div>
    </div>-->

    <div class="row">
        <div class="col m1 l1"></div>
        <!--fifth img-->
        <div class="col s12 m12 l5">
            <div class="card modal-trigger" id="main_card_5" data-target="modal_5">
                <div class="card-image waves-effect waves-block waves-light" id="card_img_5_ctn">
                    <img src="{% static 'images/rainbow22.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                </div>
                <div class="card-content" align="center" style="background:transparent;border:none;">
                    <div class="card_title" style="text-align: left;">
                        <span id="event_title_5">Event-title</span>
                        <span id="event_add_5">
                            Maharashtra,India
                        </span>
                        <span id="event_time_5">
                            12 AUG 18 |
                            <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </div>
            </div>



            <!--Modal-->
            <div class="modal modal-fixed-footer" id="modal_5">
                <div class="modal-content" style="font-family:Alegreya Sans;">
                    <h4>Modal header</h4>
                    <div class="card horizontal" id="modal_card" data-target="modal_3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/rainbow22.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content" id="modal_card_content">
                                I am a very simple card. I am good at containing small bits of information.You can customize the
                                behavior of each modal using these options. For example, you can call a custom function to run
                                when a modal is dismissed. To do this, just place your function in the intialization code as shown
                                below.
                            </div>
                            <div class="card_title" style="text-align: right;">
                                <span id="event_add_5">
                                    Maharashtra,India
                                </span>
                                <span id="event_time_5">
                                    12 AUG 18 |
                                    <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                                </span>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">view</a>
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">close</a>
                </div>
            </div>
        </div>


        <!--sixth img-->
        <div class="col s12 m12 l5">
            <div class="card modal-trigger" id="main_card_6" data-target="modal_6">
                <div class="card-image waves-effect waves-block waves-light" id="card_img_6_ctn">
                    <img src="{% static 'images/rainbow23.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                </div>
                <div class="card-content" align="center" style="background:transparent;border:none;">
                    <div class="card_title" style="text-align: right;">
                        <span id="event_title_6">Event-title</span>
                        <span id="event_add_6">
                            Maharashtra,India
                        </span>
                        <span id="event_time_6">
                            12 AUG 18 |
                            <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </div>
            </div>


            <!--Modal-->
            <div class="modal modal-fixed-footer" id="modal_6">
                <div class="modal-content" style="font-family:Alegreya Sans;">
                    <h4>Modal header</h4>
                    <div class="card horizontal" id="modal_card" data-target="modal_3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{% static 'images/rainbow23.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
            
                        </div>
                        <div class="card-stacked">
                            <div class="card-content" id="modal_card_content">
                                I am a very simple card. I am good at containing small bits of information.You can customize the
                                behavior of each modal using these options. For example, you can call a custom function to run
                                when a modal is dismissed. To do this, just place your function in the intialization code as shown
                                below.
                            </div>
                            <div class="card_title" style="text-align: right;">
                                <span id="event_add_6">
                                    Maharashtra,India
                                </span>
                                <span id="event_time_6">
                                    12 AUG 18 |
                                    <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                                </span>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">view</a>
                    <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">close</a>
                </div>
            </div>
        </div>
        <div class="m1 l1"></div>
    </div>


    <!--Center Button-->


    <div class="row">
        <div align="center">
            <a href="#" class="cen_btn btn">View more</a>
        </div>
    </div>



    <div class="row">
        <!--Second big bold heading with golden sub heading-->
        <div class="header" align='center'>
            <h1>Current Events</h1>
            <span id="gold_heading">All about creations</span>
        </div>
        <div class="col s6 m6 l6" id="golden_line"></div>
    </div>


    <!--Current event royal gallary box section-->
    <div class="container" id="special_event_ctn">
        <div class="row">
            <div class="col s12 m12 l8">
                <div class="img_ctn" align='center'>
                    <img src="{% static 'images/rainbow25.jpg' %}" alt=""  height="450px" width="330px" id="special_event_img" >
                    <!--<div class="card" style='padding:0px !important;border:none !important;'>
                        <div class="card-image" >
                            <img src="{% static 'images/rainbow25.jpg' %}" alt="">
                        </div>
                    </div>-->
                </div>
                <!--<div class="background_img" style="position: relative;width:330px;height:450px;background: rgba(124, 119, 50, 0.692);margin-top:-457px;margin-left:127px;transform:rotate(-12.5deg);z-index: -999;"></div>-->
            </div>
            <div class="col s12 m12 l4">
                <div class="content_ctn" style="text-align:left;">
                    <h5 class="header" id="special_header">ROYAL GALLAERY</h5>
                    <span style="font-size:45px;font-weight:650;">Special Event</span>
                    <p class="des_eve" id="special_par_1">
                        WELCOME TO 2017: AN EXCITING SEASON OF ART 
                        THAT REVOLTS AGAINST 
                        THE ESTABLISHMENT AND SEARCHES FOR RADICAL COMPASSION.
                    </p>
                    <p class="des_eve" id="special_par_2">
                        In 2017 we continue Royal
                         Gallery’s 60-year legacy of mapping the dramatic changes of our world. From our mainstage, we
                        create a space for interrogation, conversation and debate.
                    </p>
                    <a href="#" id="special_link_ctn">know more...</a>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="row">
        <div class="header" align='center'>
            <h1>Future Events</h1>
            <span style="display:block;color:rgb(187, 164, 34);font-size: 20px;font-weight:550;">All about creations</span>
        </div>
        <div class="col s6 m6 l6" style="height:90px;border-right:1px solid rgb(223, 185, 71);margin-top:20px;"></div>
    </div>-->

    <!--<div class="container" style="width:100%;">
        <div class="row">
            <div class="col s12 m12 l1">
                <div class="date_ctn header"
                    style="text-align:center;background:rgba(184,157,79,0.8);padding-top:15px;padding-bottom: 15px;margin-bottom: 20px;">
                    <span
                        style="font-weight:bolder;font-size:16px;font-family:Alegreya SC;letter-spacing: 1px;color:rgba(122, 97, 22, 0.815);">SAT</span>
                    <span style="display:block;font-size:40px;font-weight:700;color: white;" class="date_day">17</span>
                    <span class="date_month"
                        style="font-weight:bolder;font-size:16px;font-family:Alegreya SC;letter-spacing: 1px;color:rgba(122, 97, 22, 0.815);">AUG</span>
                </div>
            </div>
            <div class="col s6 m5 l3" style="padding-top:0px !important;padding: 0px !important;display: inline;background: rgb(255, 255, 255);">
                <div class="img_event_ctn">
                    <img src="{% static 'images/rainbow_eve.jpg' %}" alt="" width="190px" width="190px" style="box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);margin-top:0px !important;margin-left:50px;">
                </div>
            </div>
            <div class="col s6 m7 l8" style="padding-top:45px;display: inline;background: rgba(255, 255, 255, 0);padding-left:40px;">
                <a href="" style="color:black;font-weight: bold;">
                    <div class="event_topic" style="font-size:23px;">
                        Topic of the event
                        <span style="font-size:23px;display: block;letter-spacing: 1px;">
                        And Organized By</span>
                        <span style="font-size:13px;display: block;letter-spacing: 1px;color: rgb(187, 164, 34);margin-top: 5px;">
                            <i class="material-icons" style="color:rgb(187, 164, 34);font-size:13px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </a>
            </div>
            <div class="col s12 m11 l11">
                <ul>
                    <li>
                        <div class="header">
                            <img src="{% static 'images/rainbow_eve.jpg' %}" alt="" width="210px" width="210px" style="margin-top:0px !important;margin-left:50px;display: inline;">
                            <div class="event_topic" style="font-size:25px;text-align:left;display: inline;">
                                Topic of the event
                                <span style="font-size:25px;display: block;">
                                    -Organized By</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <hr style="margin-top:30px;margin-bottom:30px;border:0.5px solid rgba(167, 164, 164, 0.418);">


        <div class="row">
            <div class="col s12 m12 l1">
                <div class="date_ctn header"
                    style="text-align:center;background:rgba(184,157,79,0.8);padding-top:15px;padding-bottom: 15px;margin-bottom: 20px;">
                    <span
                        style="font-weight:bolder;font-size:16px;font-family:Alegreya SC;letter-spacing: 1px;color:rgba(122, 97, 22, 0.815);">SAT</span>
                    <span style="display:block;font-size:40px;font-weight:700;color: white;" class="date_day">17</span>
                    <span class="date_month"
                        style="font-weight:bolder;font-size:16px;font-family:Alegreya SC;letter-spacing: 1px;color:rgba(122, 97, 22, 0.815);">AUG</span>
                </div>
            </div>
            <div class="col s6 m5 l3"
                style="padding-top:0px !important;padding: 0px !important;display: inline;background: rgb(255, 255, 255);">
                <div class="img_event_ctn">
                    <img src="{% static 'images/rainbow_eve.jpg' %}" alt="" width="190px" width="190px"
                        style="box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);margin-top:0px !important;margin-left:50px;">
                </div>
            </div>
            <div class="col s6 m7 l8"
                style="padding-top:45px;display: inline;background: rgba(255, 255, 255, 0);padding-left:40px;">
                <a href="" style="color:black;font-weight: bold;">
                    <div class="event_topic" style="font-size:23px;">
                        Topic of the event
                        <span style="font-size:23px;display: block;letter-spacing: 1px;">
                            And Organized By</span>
                        <span
                            style="font-size:13px;display: block;letter-spacing: 1px;color: rgb(187, 164, 34);margin-top: 5px;">
                            <i class="material-icons" style="color:rgb(187, 164, 34);font-size:13px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </a>
            </div>
            <div class="col s12 m11 l11">
                        <ul>
                            <li>
                                <div class="header">
                                    <img src="{% static 'images/rainbow_eve.jpg' %}" alt="" width="210px" width="210px" style="margin-top:0px !important;margin-left:50px;display: inline;">
                                    <div class="event_topic" style="font-size:25px;text-align:left;display: inline;">
                                        Topic of the event
                                        <span style="font-size:25px;display: block;">
                                            -Organized By</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
        </div>



        <hr style="margin-top:30px;margin-bottom:30px;border:0.5px solid rgba(167, 164, 164, 0.418);">



        <div class="row">
            <div class="col s12 m12 l1">
                <div class="date_ctn header"
                    style="text-align:center;background:rgba(184,157,79,0.8);padding-top:15px;padding-bottom: 15px;margin-bottom: 20px;">
                    <span
                        style="font-weight:bolder;font-size:16px;font-family:Alegreya SC;letter-spacing: 1px;color:rgba(122, 97, 22, 0.815);">SAT</span>
                    <span style="display:block;font-size:40px;font-weight:700;color: white;" class="date_day">17</span>
                    <span class="date_month"
                        style="font-weight:bolder;font-size:16px;font-family:Alegreya SC;letter-spacing: 1px;color:rgba(122, 97, 22, 0.815);">AUG</span>
                </div>
            </div>
            <div class="col s6 m5 l3"
                style="padding-top:0px !important;padding: 0px !important;display: inline;background: rgb(255, 255, 255);">
                <div class="img_event_ctn">
                    <img src="{% static 'images/rainbow_eve.jpg' %}" alt="" width="190px" width="190px"
                        style="box-shadow:1.25rem 1.375rem 20px 5px rgba(0, 0, 0, 0.300);margin-top:0px !important;margin-left:50px;">
                </div>
            </div>
            <div class="col s6 m7 l8"
                style="padding-top:45px;display: inline;background: rgba(255, 255, 255, 0);padding-left:40px;">
                <a href="" style="color:black;font-weight: bold;">
                    <div class="event_topic" style="font-size:23px;">
                        Topic of the event
                        <span style="font-size:23px;display: block;letter-spacing: 1px;">
                            And Organized By</span>
                        <span
                            style="font-size:13px;display: block;letter-spacing: 1px;color: rgb(187, 164, 34);margin-top: 5px;">
                            <i class="material-icons" style="color:rgb(187, 164, 34);font-size:13px;">access_alarm</i> 18:00
                        </span>
                    </div>
                </a>
            </div>
            <div class="col s12 m11 l11">
                        <ul>
                            <li>
                                <div class="header">
                                    <img src="{% static 'images/rainbow_eve.jpg' %}" alt="" width="210px" width="210px" style="margin-top:0px !important;margin-left:50px;display: inline;">
                                    <div class="event_topic" style="font-size:25px;text-align:left;display: inline;">
                                        Topic of the event
                                        <span style="font-size:25px;display: block;">
                                            -Organized By</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
        </div>
    </div>-->

    <!--Third bold heading-->
    <div class="row">
        <div class="header" align='center'>
            <h1>Future Events</h1>
            <span id="gold_heading">All about creations</span>
        </div>
        <div class="col s6 m6 l6" id="golden_line"></div>
    </div>


    <div class="container">
        <div class="row">
            <!--<div class="col s12 m2 l2"></div>-->

            <!--First event image and modal-->
            <div class="col s12 m12 l6">
                <div class="card modal-trigger" id="main_card_6" data-target="modal_7">
                    <div class="card-image waves-effect waves-block waves-light" id="card_img_7_ctn">
                        <img src="{% static 'images/rainbow26.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
                
                    </div>
                    <div class="card-content" align="center" style="background:transparent;border:none;">
                        <div class="card_title" style="text-align: left;">
                            <span id="event_title_7">Event-title</span>
                            <span id="event_add_7">
                                Maharashtra,India
                            </span>
                            <span id="event_time_7">
                                12 AUG 18 |
                                <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                            </span>
                        </div>
                    </div>
                </div>
                
                
                <!--Modal-->
                <div class="modal modal-fixed-footer" id="modal_7">
                    <div class="modal-content" style="font-family:Alegreya Sans;">
                        <h4>Modal header</h4>
                        <div class="card horizontal" id="modal_card" data-target="modal_3">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{% static 'images/rainbow26.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
                
                            </div>
                            <div class="card-stacked">
                                <div class="card-content" id="modal_card_content">
                                    I am a very simple card. I am good at containing small bits of information.You can customize the
                                    behavior of each modal using these options. For example, you can call a custom function to run
                                    when a modal is dismissed. To do this, just place your function in the intialization code as shown
                                    below.
                                </div>
                                <div class="card_title" style="text-align: right;">
                                    <span id="event_add_7">
                                        Maharashtra,India
                                    </span>
                                    <span id="event_time_7">
                                        12 AUG 18 |
                                        <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                                    </span>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">view</a>
                        <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">close</a>
                    </div>
                </div>
            </div>
            <!--<div class="col s12 m2 l2"></div>-->

            <!--second event image with modal-->
            <div class="col s12 m12 l6">
                <div class="card modal-trigger" id="main_card_6" data-target="modal_8">
                    <div class="card-image waves-effect waves-block waves-light" id="card_img_8_ctn">
                        <img src="{% static 'images/rainbow_eve.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
                
                    </div>
                    <div class="card-content" align="center" style="background:transparent;border:none;">
                        <div class="card_title" style="text-align: right;">
                            <span id="event_title_8">Event-title</span>
                            <span id="event_add_8">
                                Maharashtra,India
                            </span>
                            <span id="event_time_8">
                                12 AUG 18 |
                                <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                            </span>
                        </div>
                    </div>
                </div>
                
                
                <!--Modal-->
                <div class="modal modal-fixed-footer" id="modal_8">
                    <div class="modal-content" style="font-family:Alegreya Sans;">
                        <h4>Modal header</h4>
                        <div class="card horizontal" id="modal_card" data-target="modal_3">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{% static 'images/rainbow_eve.jpg' %}" alt="" class="activator" style="border-radius:5px !important;">
                
                            </div>
                            <div class="card-stacked">
                                <div class="card-content" id="modal_card_content">
                                    I am a very simple card. I am good at containing small bits of information.You can customize the
                                    behavior of each modal using these options. For example, you can call a custom function to run
                                    when a modal is dismissed. To do this, just place your function in the intialization code as shown
                                    below.
                                </div>
                                <div class="card_title" style="text-align: right;">
                                    <span id="event_add_8">
                                        Maharashtra,India
                                    </span>
                                    <span id="event_time_8">
                                        12 AUG 18 |
                                        <i class="material-icons" style="color:rgb(199, 175, 40);font-size:15px;">access_alarm</i> 18:00
                                    </span>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">view</a>
                        <a class="modal-close waves-effet waves-light waves-green btn-flat" style="font-family:Alegreya Sans;">close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--view more Button-->
    <div class="row">
        <div align="center">
            <a href="#" class="cen_btn btn">View more</a>
        </div>
    </div>


{% endblock %}

{% block script %}

function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("search_par");
    filter = input.value.toUpperCase();
    ul = document.getElementById("names_col");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("span")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

 $('.carousel').carousel();
    setInterval(function () {
        $('.carousel').carousel('next');
    }, 3000);

// Or with jQuery

$(document).ready(function () {
    $('.sidenav').sidenav();
});




$(document).ready(function () {
    $('.collapsible').collapsible();
});

$(document).ready(function () {
    $('.parallax').parallax();
});
var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
});

// Or with jQuery

$('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
});

document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.modal').modal();
    });
{% endblock %}
